@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');


.login-form{
    margin-top: 70px;
}
.form-control{
    border-radius: 4px;
    font-family: 'REM', sans-serif;
}
.login-label{

    font-weight: bold;
    font-size: 19px;
    color: #57606f;
    
}
.error-display{
    font-family: 'REM', sans-serif;
    color: #40739e;
    font-size: 13px;
}
.login-heading{
    text-align: left;
    margin: 30px;   
    font-size: 20px;
    padding-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #57606f;
}
