@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');



.form-control{
    border-radius: 4px;
    font-family: 'REM', sans-serif;
}
.register-label{

    font-weight: bold;
    font-size: 19px;
    color: #57606f;
    
}
.error-display{
    font-family: 'REM', sans-serif;
    color: #40739e;
    font-size: 13px;
}
.register-heading{
    text-align: left;
    margin: 30px;   
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #57606f;
    padding-bottom: 50px;
}
.register-form{
padding: 40px;
}



